################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Summer C/ImageProcessing/.vs/ImageProcessing/v16/.suo
